body {
  padding: 0;
  margin: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
}

.quizz {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 600px;
  height: 145px;
  gap: 10px;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.header {
  align-self: center;
  margin-top: 10px;
  width: max-content;
  width: 870px;
  background-color: rgba(0, 0, 0, 0.2);
}

ul button {
  background: transparent;
  width: 300px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  height: 350px;
  margin-bottom: 50px;
}

.level {
  display: flex;
  flex-direction: column;
  width: 415px;
  background-color: gray transparent;
  border: 1px solid black;
}

.main {
  width: 100%;
  height: 100vh;
}

.puzzle {
  width: 100%;
  height: 100vh;
  background-image: "puzzle_image.png";
}
.finalPage {
  display: flex;
  flex-direction: column;
  flex-wrap: 20;
  gap: 150px;
  align-items: center;
  width: 870px;
  height: 415px;
  background-color: gray transparent;
  border: 1px solid black;
}

h3 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10px;
}
.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
  background-color: gray transparent;
  border: 1px solid black;
  color: white;
}

.footer {
  margin-bottom: 10px;
}

.inputOption {
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  background-color: rgb(78, 78, 78);
  margin-bottom: 10px;
  margin-left: 9px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
button.play-btn,
.returnBtn {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: gray;
  cursor: pointer;
  width: 870px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

button:hover {
  cursor: pointer;
}
